.footer {
    background: #fadadd;
    text-align: center;
    padding: 20px;
    margin-top: 40px
}

.insta {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 8px;
    vertical-align: middle
}