@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Playfair+Display:wght@600&display=swap');


html,
body,
#root {
  height: 100%;
  margin: 0
}

body {
  background: #FFF5F7;
  color: #444;
  font-family: 'Poppins', sans-serif
}